<div *ngIf="countryId$ | async">
  <div class="mat-title">States</div>
  <div *ngIf="loading$ | async; else content">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<ng-template #content>
  <ng-container *ngIf="states$ | async; let states">
    <mat-table [dataSource]="states" class="mat-elevation-z1" *ngIf="states.length; else noData">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="overallTaxAmount">
        <mat-header-cell *matHeaderCellDef>Overall Tax Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.overallTaxAmount | currency:'EUR'}}
          <span *ngIf="element.overallTaxAmount === null">No data</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageTaxAmount">
        <mat-header-cell *matHeaderCellDef>Average Tax Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.averageTaxAmount | currency:'EUR'}}
          <span *ngIf="element.averageTaxAmount === null">No data</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageTaxRate">
        <mat-header-cell *matHeaderCellDef>Average Tax Rate</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.averageTaxRate | percent: '0.0-2'}}
          <span *ngIf="element.averageTaxRate === null">No data</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"
          class="selectable"
          [class.hovered]="row.hovered"
          [class.highlighted]="row.id === (stateId$ | async)"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
    </mat-table>
  </ng-container>
  <ng-template #noData>
    <div>No data found</div>
  </ng-template>
</ng-template>
