<div *ngIf="stateId$ | async">
  <div class="mat-title">Counties</div>
  <div *ngIf="loading$ | async; else content">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<ng-template #content>
  <ng-container *ngIf="counties$ | async; let counties">
    <mat-table [dataSource]="counties" class="mat-elevation-z1" *ngIf="counties.length; else noData">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="taxRate">
        <mat-header-cell *matHeaderCellDef>Tax Rate</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.taxRate | percent: '0.0-2'}}
          <span *ngIf="element.taxRate === null">No data</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="taxAmount">
        <mat-header-cell *matHeaderCellDef>Tax Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.taxAmount | currency:'EUR'}}
          <span *ngIf="element.taxAmount === null">No data</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.hovered]="row.hovered"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>
    </mat-table>
  </ng-container>
  <ng-template #noData>
    <div>No data found</div>
  </ng-template>
</ng-template>
